/* 
- Name: megamenu.js - style.css
- Version: 1.0
- Latest update: 29.01.2016.
- Author: Mario Loncarek
- Author web site: http://marioloncarek.com
*/


/* 鈥撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯��
Body - not related to megamenu
鈥撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�� */

body {
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    color: #333;
}
.menu-container {
    width: 80%;
    margin: 0 auto;
    background:#46b518;
}

.menu-mobile {
    display: none;
    padding: 20px;
}

.menu-mobile:after {
    content: "\f394";
    font-family: "Ionicons";
    font-size: 2.5rem;
    padding: 0;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-25%);
    -ms-transform: translateY(-25%);
    transform: translateY(-25%);
}

.menu-dropdown-icon:before {
    content: "\f489";
    font-family: "Ionicons";
    display: none;
    cursor: pointer;
    float: right;
    padding: 1.5em 2em;
  <div class="menu-container">
	<div class="menu">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="http://sc.chinaz.com">About</a>
				<ul>
					<li><a href="#">School</a>
						<ul>
							<li><a href="#">Lidership</a></li>
							<li><a href="#">History</a></li>
							<li><a href="#">Locations</a></li>
							<li><a href="#">Careers</a></li>
						</ul>
					</li>
					<li><a href="#">Study</a>
						<ul>
							<li><a href="#">Undergraduate</a></li>
							<li><a href="#">Masters</a></li>
							<li><a href="#">International</a></li>
							<li><a href="#">Online</a></li>
						</ul>
					</li>
					<li><a href="#">Research</a>
						<ul>
							<li><a href="#">Undergraduate research</a></li>
							<li><a href="#">Masters research</a></li>
							<li><a href="#">Funding</a></li>
						</ul>
					</li>
					<li><a href="#">Something</a>
						<ul>
							<li><a href="#">Sub something</a></li>
							<li><a href="#">Sub something</a></li>
							<li><a href="#">Sub something</a></li>
							<li><a href="#">Sub something</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li><a href="#">News</a>
				<ul>
					<li><a href="#">Today</a></li>
					<li><a href="#">Calendar</a></li>
					<li><a href="#">Sport</a></li>
				</ul>
			</li>
			<li><a href="http://sc.chinaz.com">Contact</a>
				<ul>
					<li><a href="#">School</a>
						<ul>
							<li><a href="#">Lidership</a></li>
							<li><a href="#">History</a></li>
							<li><a href="#">Locations</a></li>
							<li><a href="#">Careers</a></li>
						</ul>
					</li>
					<li><a href="#">Study</a>
						<ul>
							<li><a href="#">Undergraduate</a></li>
							<li><a href="#">Masters</a></li>
							<li><a href="#">International</a></li>
							<li><a href="#">Online</a></li>
						</ul>
					</li>
					<li><a href="#">Study</a>
						<ul>
							<li><a href="#">Undergraduate</a></li>
							<li><a href="#">Masters</a></li>
							<li><a href="#">International</a></li>
							<li><a href="#">Online</a></li>
						</ul>
					</li>
					<li><a href="#">Empty sub</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<script src="js/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="js/megamenu.js"></script>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<p>适用浏览器：IE8、360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗.</p>
<p>来源：<a href="http://sc.chinaz.com/" target="_blank">站长素材</a></p>
</div>
    color: #333;
}
.menu > ul {
    margin: 0 auto;
   
    list-style: none;
    padding: 0;
    position: relative;
    /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
    box-sizing: border-box;
    border-bottom:4px inset #247701;
    border-top:2px solid #3ba018;   
    border-left:2px solid #3ba018;
    border-right:2px solid #3ba018;
    
}

.menu > ul:before,
.menu > ul:after {
    content: "";
    display: table;
}

.menu > ul:after {
    clear: both;
}

.menu > ul > li {
    float: left;
    background:#48b818;
    padding: 0;
    margin: 0;
}

.menu > ul > li a {
    text-decoration: none;
    padding: 0.8em 3em;
    display: block;
    color:#ffffff;
}

.menu > ul > li:hover {
    background:#1b9804;
}

.menu > ul > li > ul {
    display: none;
    width: 100%;
    background: #f0f0f0;
    padding: 20px;
    position: absolute;
    z-index: 99;
    left: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
    width: 20%;
    background: none;
    float: left;
}

.menu > ul > li > ul > li a {
    color: #777;
    padding: .2em 0;
    width: 95%;
    display: block;
    border-bottom: 1px solid #ccc;
}


.menu > ul > li > ul > li > ul {
    display: block;
    padding: 0;
    margin: 8px 0 0;
    list-style: none;
    box-sizing: border-box;
}

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
    content: "";
    display: table;
}

.menu > ul > li > ul > li > ul:after {
    clear: both;
}

.menu > ul > li > ul > li > ul > li {
    float: left;
    width: 100%;
    padding: 0px 0;
    margin: 0;
    font-size: .8em;
}

.menu > ul > li > ul > li > ul > li a {
    border: 0;
}
.menu > ul > li > ul > li > ul > li a:hover {
     color: #F00000;
}

.menu > ul > li > ul.normal-sub {
    width: 300px;
    left: auto;
    padding: 10px 20px;
}

.menu > ul > li > ul.normal-sub > li {
    width: 100%;
}

.menu > ul > li > ul.normal-sub > li a {
    border: 0;
    padding: 1em 0;
}


/* 鈥撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯��
Mobile style's
鈥撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�撯�� */

@media only screen and (max-width: 959px) {
    .menu-container {
        width: 100%;
    }
    .menu-mobile {
         width: 100%;
        display: block;
    }
    .menu-dropdown-icon:before {
        display: block;
    }
    .menu > ul {
        display: none;
    }
    .menu > ul > li {
        width: 100%;
        float: none;
        display: block;
    }
    .menu > ul > li a {
        padding: 1.5em;
        width: 100%;
        display: block;
    }
    .menu > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul.normal-sub {
        width: 100%;
    }
    .menu > ul > li > ul > li {
        float: none;
        width: 100%;
        margin-top: 20px;
    }
    .menu > ul > li > ul > li:first-child {
        margin: 0;
    }
    .menu > ul > li > ul > li > ul {
        position: relative;
    }
    .menu > ul > li > ul > li > ul > li {
        float: none;
    }
    .menu .show-on-mobile {
        display: block;
    }
}